DATABASE_URL="your_postgres_database_url_string"

### Default username and password is admin/admin
### if you want to change, uncomment below variables and update your details


# ADMIN_USERNAME="your_admin_username"
# ADMIN_PASSWORD="your_admin_password"